



/* General Styling */

.darkbackgrouund{
    background-color: #1F2937;
}

.heromaintext{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.herosecondarytext{
    font-size: 18px;
    color: #E5E7EB;
}

.heroaderlogotext{
    font-size: 24px;
    color:#F9FAF8;
}

button{
    background-color: #3882F6;
    color:#F9FAF8;
}

.infoheadertext{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}


.container{
    display: flex;
    padding-inline: 10%;
    justify-content: space-between;
}

/* Nav bar */








/* Awsome */





/* Random Information */





/* Quote */

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}


/* Call to Action */

.calltoaction{
    background-color: #3882F6;
    margin-inline: 10%;
}


/* Footer */














